@import (reference) "base.less";

.contactcontainer {
    border-radius: 5px;
    background-color: @black;
    padding: 20px;
    padding-bottom:20px;
    border:2px solid @orange;
    max-width: 500px;
    margin:auto;
    font-family:@fontRal;
    color:@orange;
    font-size: large;
    
}
.contactform{
    min-height:200px;
    textarea{
        height:200px;
    }
    input[type=submit] {
        background-color: @orange;
        color: @white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

      input[type=text],textarea{
        width: 100%;
      }      
      input[type=submit]:hover {
        background-color: @danger;
      }
      input:invalid{
        border: 2px dashed @danger;
          .submitBtn:disabled{
            border: 2px dashed @danger;
            background: black;
          }
      }
    }      
    .modalSuccess {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top:300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:@blackO;

        .modal-content {
            background-color: @success;
            color:@black;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            font-size: large;
        }
    }
    .modalWarn{
        &:extend(.modalSuccess all);/*extend modalSuccess*/
        .modal-content{
            background-color:@warn;/*change background-color to warn*/
        }
    }
    .submitBtn{
        //padding-top:20px;
        background-color:@orange;
        padding:12px 28px;
        text-align:center;
        margin:auto;
        border-radius:8px;
        position: relative;
        left: 45%;
    }