/*partially transparent opacity*/
body {
  background-color: #0C0E09;
  font-family: 'Raleway', 'sans-serif';
  color: white;
  margin-bottom: 5%;
}
h1 {
  font-family: 'Raleway', 'sans-serif';
  font-size: 24px;
  font-weight: bold;
}
h2 {
  font-family: 'Raleway', 'sans-serif';
  font-size: 20px;
  font-weight: bold;
}
h3 {
  font-family: 'Raleway', 'sans-serif';
  font-size: 16px;
  font-weight: bold;
}
h4 {
  font-family: 'Raleway', 'sans-serif';
  font-size: 16px;
}
.coolFont {
  font-family: 'Tangerine', 'serif';
  text-align: center;
  color: #FB9C02;
  font-weight: normal;
  font-style: italic;
  font-size: 48px;
}
.coolFontSmall {
  font-family: 'Raleway', 'sans-serif';
  text-align: center;
  color: #FB9C02;
  font-weight: normal;
  font-size: 24px;
}
.navcontainer {
  padding-bottom: 100px;
}
@media (max-width: 600px) {
  .navcontainer .navbar-brand img {
    width: 100px;
    max-height: 50px;
  }
}
.navcontainer .navbar {
  float: left;
  margin-bottom: 0;
  padding-right: 0%;
  padding-left: 0%;
  font-family: 'Raleway', 'sans-serif';
  background-color: #0C0E09;
  color: white;
  border: 10;
  font-size: 14px !important;
  letter-spacing: 4px;
}
.navcontainer .navbar li a,
.navcontainer .navbar .navbar-brand {
  font-family: white;
  color: white !important;
}
.navcontainer .navbar-brand small {
  display: block;
  font-size: 10px;
}
.navcontainer .navbar-nav li a:hover {
  color: white !important;
}
.navcontainer .navbar-default .navbar-toggle {
  border-color: transparent;
}
.navcontainer .open .dropdown-toggle {
  color: white;
  background-color: #FB9C02 !important;
}
.navcontainer .dropdown-menu li a {
  color: #FB9C02;
  background-color: #0C0E09;
}
.navcontainer .dropdown-menu li a:hover {
  background-color: #FB9C02;
}
.navcontainer .top-bar {
  color: white;
  background-color: #FB9C02;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FB9C02;
  color: white;
  text-align: center;
  max-height: 5%;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
}
.carousel-indicators li {
  border-color: #FB9C02;
}
.carousel-indicators .active {
  background-color: #FB9C02;
}
.carousel-control {
  position: absolute;
  top: 50%;
}
.carousel-inner {
  width: 100%;
  /* Set width to 90% */
}
.carousel-inner img {
  height: 100px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}
.carousel-caption h3 {
  color: white !important;
}
.largeWelcome {
  color: #FB9C02;
  text-align: center;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.carousel .item > img {
  top: 0;
  left: 0;
  min-height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.carousel .fill {
  width: 80%;
  height: 80%;
  background-position: center;
  background-size: cover;
}
.newreservation {
  min-height: 200px;
  padding-top: 100px;
  padding-bottom: 20px;
}
.newreservation .dining-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 30%;
}
.bordered {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #FB9C02;
}
.form-inline {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-inline input,
.form-inline select,
.form-inline button {
  vertical-align: middle;
  margin: 25px 25px 25px 0;
  background-color: white;
  font-family: 'FontAwesome', 'sans-serif';
  color: #FB9C02;
  font-size: 18;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #FB9C02;
}
.form-inline button {
  color: white;
  background-color: #FB9C02;
}
.form-inline button:hover {
  background-color: red;
}
.resDate:before {
  font-family: 'FontAwesome', 'sans-serif';
  content: "\f073";
}
.resTime:before {
  /*font-family: "FontAwesome";*/
  font-family: 'FontAwesome', 'sans-serif';
  content: "\f017";
}
.resGuests:before {
  font-family: 'FontAwesome', 'sans-serif';
  content: "\f0c0";
}
.inputLabel {
  font-size: 14px;
  font-weight: bold;
}
#myModal .modal-content .modal-header {
  padding: 35px 50px;
  background-color: #0C0E09;
  color: #FB9C02;
}
#myModal .modal-content .modal-body {
  padding: 40px 50px;
  background-color: #0C0E09;
  color: #FB9C02;
}
#myModal .modal-content .modal-body .btn {
  background-color: #FB9C02;
  color: #0C0E09;
}
#myModal .modal-content .modal-footer {
  background-color: #0C0E09;
}
.menufood {
  min-height: 200px;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.menufood .row {
  background-color: #E7C296;
  color: #0C0E09;
}
.locationcontainer .locationmap {
  text-align: center;
  padding-top: 20px;
}
.locationcontainer .locationmap .iframe {
  display: block;
}
.locationcontainer div.col-sm-2 {
  text-align: center;
  border: solid;
  border-color: #FB9C02;
}
.aboutcontainer {
  min-height: 200px;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.aboutcontainer img {
  float: right;
  width: 30%;
  height: 30%;
  padding-bottom: 200px;
}
.aboutcontainer p {
  font-family: 'Raleway', 'sans-serif';
  color: #E7C296;
  font-size: x-large;
}
.reviews {
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.reviews .row {
  /*background-color:@beige;*/
  color: #E7C296;
  font-size: x-large;
}
#target {
  min-height: 200px;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.contactcontainer {
  border-radius: 5px;
  background-color: #0C0E09;
  padding: 20px;
  padding-bottom: 20px;
  border: 2px solid #FB9C02;
  max-width: 500px;
  margin: auto;
  font-family: 'Raleway', 'sans-serif';
  color: #FB9C02;
  font-size: large;
}
.contactform {
  min-height: 200px;
}
.contactform textarea {
  height: 200px;
}
.contactform input[type=submit] {
  background-color: #FB9C02;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contactform input[type=text],
.contactform textarea {
  width: 100%;
}
.contactform input[type=submit]:hover {
  background-color: red;
}
.contactform input:invalid {
  border: 2px dashed red;
}
.contactform input:invalid .submitBtn:disabled {
  border: 2px dashed red;
  background: black;
}
.modalSuccess,
.modalWarn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  padding-top: 300px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
}
.modalSuccess .modal-content,
.modalWarn .modal-content {
  background-color: green;
  color: #0C0E09;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-size: large;
}
.modalWarn {
  /*extend modalSuccess*/
}
.modalWarn .modal-content {
  background-color: yellow;
  /*change background-color to warn*/
}
.submitBtn {
  background-color: #FB9C02;
  padding: 12px 28px;
  text-align: center;
  margin: auto;
  border-radius: 8px;
  position: relative;
  left: 45%;
}
